/*-----RESETS------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }


/*----------GRID------------*/
 .container{
    max-width: 140rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
} 

@media screen and (max-width:500px){
    .container{
        width: 100%;
    }
}


/*---HEADER----*/

.header{
    background: #2b2b2b;
    padding: 2rem 0;
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header .branding img{
    width: 3.5rem;
}

.header .branding h2{
    color: #FFFFFF;
    margin-left: 1rem;
    font-size: 2.5rem;
}
.header .branding h2 span{
    color: #ffa700;
}
.header .branding{
    display: flex;
    align-items: center;
}


.header .header__nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
}

.header .header__nav ul{
    display: flex;
}

.header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__nav ul li{
    margin-left: 2rem;
    padding: 2rem;

}

.header .header__nav ul li:hover a{
    color: #ffa700;
}

.toggle__menu{
    display: none;
}

.toggle__menu span{
    width: 3.5rem;
    height: .3rem;
    background-color: #ffa700;
    display: block;
    margin-bottom: .5rem;
    border-radius: 5rem;
    transition: .5s ease;
}

.toggle__menu.open span:first-child{
    transform: translate(0,10px) rotate(225deg);
    transition: .5s ease;
}

.toggle__menu.open span:nth-child(2){
    opacity: 0;
    transition: .5s ease;
}
.toggle__menu.open span:last-child{
    transform: translate(0,-7px) rotate(-225deg);
    transition: .5s ease;
}
@media screen and (max-width:500px){
    .toggle__menu{
        display: block;
    }

    .header .header__nav{
        position: absolute;
        background: #FFFFFF;
        top: 9.5rem;
        right: -200rem;
        width: 100%;
        height: 100vh;
        transition: .5s ease;
    }
    .header .header__nav ul{
        display: block;
        text-align: center;

    }
    .header .header__nav ul li{
        margin-left: 0;
        border-bottom: 1px solid #2b2b2b;
    } 
    .header .header__nav ul li a{
        color: #2b2b2b;
        font-size: 3rem;
    }
    .header .header__nav ul li:hover{
        background: hsl(0, 0%, 50%);
    }
    .header__nav.open{
        right: 0;
        transition: .5s ease;
    }
}
    /*----------BANNER-----------*/
    .banner{
        background: #FFFFFF;
        padding: 5rem 0;
        padding-top: 15rem;
    }

.banner .banner__wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}
.banner .banner__text{
    margin: 10rem;
}
    .banner .banner__text h1{
        color: #ffa700;
        font-size: 8rem;
        font-weight: 800;
        max-width: 25rem;
        line-height: 1.2;
    }


.banner .banner__text p{
    max-width: 40rem;
    text-align: justify;
    margin: 3rem 0;
}
.banner a#banner__btn{
   text-transform: uppercase;
   border: 1px solid transparent !important;
}

@media screen and (max-width:500px){
    .banner__wrapper{
        flex-direction: column-reverse;
    }
    
    .banner img{
        margin-left: 0;
        width: 20rem;
        margin-bottom: 3rem;
    }
    .banner .banner__text{
        text-align: center;
        margin: 0;
    }
    .banner .banner__text h1{
        max-width: fit-content;
        font-size: 3rem;
        margin: 0 auto;
    }
}

/*---------REPEATABLE PATTERNS------------*/
.btn{
    padding: 1.2rem 1.5rem;
    border-radius: 5rem;
    display: inline-block;
    border: 1px solid transparent;
}
.bg--yellow{
    background: #ffa700;
    color: #FFFFFF;
}
.bg--yellow:hover{
    background: #2b2b2b;
    border: 1px solid #ffa700;
}

.bg--dark{
    background: #2b2b2b;
    color: #FFFFFF;
}

/*--------------ABOUT----------------*/
aboutme{
    width: 100%;
}

.about .about__wrapper{
    display: flex;
    place-content: center;
    place-items: center;
    justify-content: space-evenly;
}

.about .about__text h3{
    margin-right: 10rem;
    color: #ffa700;
    font-weight: 600;
    font-size: 3rem;
}

.about .about__text p{
    max-width: 60rem;
    text-align: justify;
    margin: 3rem 0;
}

.about .cntnr{
    position: relative;
}

    .about .cntnr .img{
        position: absolute;
        top: 0px;
        opacity: .5;

    }

@media screen and (max-width:500px){
    .about .about__wrapper{
        flex-direction: column;
    }
    .about img{
        margin-left: 0;
        width: 20rem;
        margin-bottom: 3rem;
    }
  .about .about__text h3{
        text-align: center;
        margin: 0 auto;
        }
    .about .cntnr{
        position: relative;
    }
   
    .about .cntnr .img{
        position: absolute;
        top: 0px;
        opacity: .5;
   }

   .about .about__text{
    text-align: center;
    max-width: 40rem;
    margin: 4rem 0;
   }
}

/*----------------hm-services---------------*/
.hm-services{
    background: #2b2b2b;
    padding: 8rem 0;
}
.hm-services .hm-services__item i{
    font-size: 5rem;
    color: #ffa700;
    margin-bottom: 2rem;
    
}
.hm-services .hm-services__item h4{
    font-size: 2.5rem;
    color: #ffa700;
    font-weight: 600;
}
.hm-services .hm-services__item p{
    color: #FFFFFF;
    margin: 2rem 0;
    text-align: justify;
}

.hm-services .hm-services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10rem; */
   
}
.hm-services .hm-services__item {
    text-align: center;
    margin: 0 4rem;
}

@media screen and (max-width:500px){
    .hm-services .hm-services__wrapper{
        grid-template-columns: 1fr;
        row-gap: 13rem;
       
    }



}

/*-------------LATEST TRENDS---------------------*/
.ltrends{
    background: #2b2b2b;
    padding: 5rem 0;
    padding-top: 5rem;
}

.ltrends .container{
    align-items: center;
    justify-content: center;
}

.ltrends .ltrends__text h2{
    color: #ffa700;
    font-size: 4rem;
    font-weight: 800;
}

.ltrends .ltrends__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}

.ltrends .ltrends__card{
    background: #FFFFFF;
    border-radius: 2rem;
    align-items: center;
    margin: 5rem;
}

.ltrends .ltrends__card img{
    width: 100%;
}

.ltrends .ltrends__card .ltrends__card__text{
    margin: 0 2rem;
}

.ltrends .ltrends__card .ltrends__card__text h4{
    margin: 1rem 0;
    color: #ffa700;
    text-align: justify;
    font-weight: bold;
}

.ltrends .ltrends__card .ltrends__card__text p{
    margin: 3rem 0;
    color: #2b2b2b;
    text-align: justify;
}


.ltrends .ltrends__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ltrends .ltrends__text p{
    color:#FFFFFF;
    font-size: 2rem;
    margin-bottom: 8rem;
}

.ltrends .ltrends__card a{
    color: #ffa700;
}

@media screen and (max-width:500px){
    .ltrends .ltrends__wrapper{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .ltrends .ltrends__text{
        text-align: center;
    }

    .ltrends .ltrends__wrapper .ltrends__card{
        margin: 0 6rem;
    }
}
/*-------------------------contact------------------------*/
.contact{
    background: #ffa700;
    padding: 2rem;
}
.contact .contact_text{
    text-align:  center;
}
.contact .contact_text h3{
    font-size: 3rem;
    font-weight: 600;
}
.contact .contact_text a{
    margin: 2rem;
    font-size: 1.2rem;
}
.bg--dark:hover{
    background: #FFFFFF;
    color: #2b2b2b;
}
@media screen and (max-width:500px){
    .contact{
        flex-direction: column;
    }
    .contact .contact_text{
        text-align:  center;
    }
    .contact .contact_text h3{
        font-size: 2rem;
        font-weight: 600;
    }
    .contact .contact_text h4{
        font-size: 1.5rem;
    }
}
/*-------FOOTER------*/
.footer{
    background: #2b2b2b;
}
.footer .footer_text i{
    color: #FFFFFF;
}
.footer .footer_text{
    color: #FFFFFF;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.footer .footer_text ul{
    display: flex;
}
.footer .footer_text ul li{
    margin-right: 1rem;
}
.footer .footer_text p{
    display: inline-block;
    font-size: 1.5rem;
}
.footer .footer_text .copy p{
    display: inline-block;
    text-transform: uppercase;
}
.footer .footer_text i:hover{
    color: #ffa700;
}
@media screen and (max-width:500px){
    .footer{
        align-items: center;
    }
    .footer .footer_text{
        text-align:  center;
        
    }
} 
/* --------------ABOUT PAGE------------------*/
.aboutpage{
    background: #FFFFFF;
    padding: 5rem 0;
    padding-top: 15rem;
}

.aboutpage .aboutpage__wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}
.aboutpage .aboutpage__text{
    margin: 10rem;
}
    .aboutpage .aboutpage__text h1{
        color: #ffa700;
        font-size: 8rem;
        font-weight: 800;
        max-width: 80rem;
        line-height: 1.2;
    }


.aboutpage .aboutpage__text p{
    max-width: 40rem;
    text-align: justify;
    margin: 3rem 0;
}
.aboutpage .aboutpage__text i{ 
    color: #ffa700;
    font-size: 3rem;
}

.aboutpage .aboutpage__text ul{ 
    display: flex;
    max-width: 20rem;
    text-align: justify;   
    font-weight: bold;
    justify-content: space-between;
}
.aboutpage .aboutpage__text ul li{ 
    margin-right: 1rem;
}
.aboutpage .aboutpage__text h3{
    max-width: 40;
    text-align: justify;
    margin: 3rem 0;
    font-weight: bold;
    color: #2b2b2b;
}
.aboutpage .aboutpage__text i:hover{ 
    color: #2b2b2b;
}


@media screen and (max-width:500px){
    .aboutpage__wrapper{
        flex-direction: column-reverse;
    }
    
    .aboutpage img{
        margin-left: 0;
        width: 1000rem;
        margin-bottom: 3rem;
    }
    .aboutpage .aboutpage__text{
        text-align: center;
        margin: 0;
    }
    .aboutpage .aboutpage__text h1{
        max-width: fit-content;
        font-size: 3rem;
        margin: 0 ;
    }
}


/*----------MRP---------------*/
.mrp{
    background: #2b2b2b;
    padding: 5rem 0;
    padding-top: 5rem;
}

.mrp .container{
    align-items: center;
    justify-content: center;
}

.mrp .mrp__text h2{
    color: #ffa700;
    font-size: 4rem;
    font-weight: 800;
}

.mrp .mrp__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}

.mrp .mrp__card{
    background: #FFFFFF;
    border-radius: 2rem;
    align-items: center;
    margin: 5rem;
}

.mrp .mrp__card img{
    width: 100%;
}

.mrp .mrp__card .mrp__card__text{
    margin: 0 2rem;
}

.mrp .mrp__card .mrp__card__text h4{
    margin: 1rem 0;
    color: #ffa700;
    text-align: justify;
    font-weight: bold;
}

.mrp .mrp__card .mrp__card__text p{
    margin: 3rem 0;
    color: #2b2b2b;
    text-align: justify;
}


.mrp .mrp__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mrp .mrp__text p{
    color:#FFFFFF;
    font-size: 2rem;
    margin-bottom: 8rem;
}


@media screen and (max-width:500px){
    .mrp .mrp__wrapper{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .mrp .mrp__text{
        text-align: center;
    }

    .mrp .mrp__wrapper .mrp__card{
        margin: 0 6rem;
    }
}